{% extends 'base.html.twig' %}

{% block title %}Edit Enclos{% endblock %}

{% block body %}
    <h1>Edit Enclos</h1>

    {{ include('enclos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_enclos_index') }}">back to list</a>

    {{ include('enclos/_delete_form.html.twig') }}
{% endblock %}
