{% extends 'base.html.twig' %}

{% block title %}New Enclos{% endblock %}

{% block body %}
    <h1>Create new Enclos</h1>

    {{ include('enclos/_form.html.twig') }}

    <a href="{{ path('app_enclos_index') }}">back to list</a>
{% endblock %}
